<h1>Bonjour, merci de confirmer votre Email.</h1>

<p>
    Merci de confirmer votre Email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
