<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           <!-- Axentix CSS minified version -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.0-beta.1/dist/axentix.min.css">
            <link rel="stylesheet" href={{ asset('css/style.css')}}>
        {% endblock %}

        {% block javascripts %}
           <!-- Axentix JS minified version -->
            <script src="https://cdn.jsdelivr.net/npm/axentix@2.0.0-beta.1/dist/axentix.min.js"></script>
        {% endblock %}
    </head>
    <body class="layout">
        <header>
        <nav class="navbar shadow-1 primary">
            <button class="btn rounded-1 white hide-md-up sidenav-trigger btn-small mr-2" data-target="main-sidenav">
            Menu
            </button>
            <a href="/" target="" class="navbar-brand">Gestion Entreprise</a>
            <div class="navbar-menu ml-auto">
                <a class="navbar-link active hide-sm-down" href="salaries">Salariés</a>
                <a class="navbar-link hide-sm-down" href="entreprises">Entreprises</a>
            </div>
        </nav>
        </header>

        <main>
         {% block body %}
            {% block contenu %}{% endblock %}
        {% endblock %}
        </main>

        <footer class="footer primary">
        Copyright © 2021 - JMV
        </footer>
  
       
    </body>
</html>
